<div class="calculator-page">
    <div class="calculator-content">
        <input type="text" placeholder="Bem-vindo!" class="calculator-visor" id="calculator-visor">

        <div class="row">
            <button class="calculator-key clear-button" (click)="keyPressed('C', KEY_TYPES.action)" type="button">C</button>
            <button class="calculator-key" (click)="keyPressed('.', KEY_TYPES.symbol)" type="button">.</button>
            <button class="calculator-key" (click)="keyPressed(',', KEY_TYPES.symbol)" type="button">,</button>
            <button class="calculator-key" (click)="keyPressed('÷', KEY_TYPES.operation)" type="button">÷</button>
        </div>

        <div class="row">
            <button class="calculator-key" (click)="keyPressed('1', KEY_TYPES.numeral)" type="button">1</button>
            <button class="calculator-key" (click)="keyPressed('2', KEY_TYPES.numeral)" type="button">2</button>
            <button class="calculator-key" (click)="keyPressed('3', KEY_TYPES.numeral)" type="button">3</button>
            <!-- <button class="calculator-key" (click)="keyPressed('*', KEY_TYPES.operation)" type="button">x</button> *TESTAR ISSO AQUI -->
            <button class="calculator-key" (click)="keyPressed('x', KEY_TYPES.operation)" type="button">x</button>
        </div>

        <div class="row">
            <button class="calculator-key" (click)="keyPressed('4', KEY_TYPES.numeral)" type="button">4</button>
            <button class="calculator-key" (click)="keyPressed('5', KEY_TYPES.numeral)" type="button">5</button>
            <button class="calculator-key" (click)="keyPressed('6', KEY_TYPES.numeral)" type="button">6</button>
            <button class="calculator-key" (click)="keyPressed('-', KEY_TYPES.operation)" type="button">-</button>
        </div>

        <div class="row">
            <button class="calculator-key" (click)="keyPressed('7', KEY_TYPES.numeral)" type="button">7</button>
            <button class="calculator-key" (click)="keyPressed('8', KEY_TYPES.numeral)" type="button">8</button>
            <button class="calculator-key" (click)="keyPressed('9', KEY_TYPES.numeral)" type="button">9</button>
            <button class="calculator-key" (click)="keyPressed('+', KEY_TYPES.operation)" type="button">+</button>
        </div>

        <div class="row">
            <button class="calculator-key" (click)="keyPressed('parenthesis_open', KEY_TYPES.symbol)" type="button">(</button>
            <button class="calculator-key" (click)="keyPressed('0', KEY_TYPES.numeral)" type="button">0</button>
            <button class="calculator-key" (click)="keyPressed('parenthesis_close', KEY_TYPES.symbol)" type="button">)</button>
            <button class="calculator-key equal-button" (click)="keyPressed('=', KEY_TYPES.action)" type="button">=</button>
        </div>
    </div>
</div>